body, html {
    height: 100%;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/collab-practice-22-06/images/GOPR0771.JPG");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: relative;
    color: rgb(244, 233, 233);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }